@font-face {
  font-family: 'LEMON MILK';
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/LEMONMILK/LEMONMILK-Bold.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-MediumItalic.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-BoldItalic.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-LightItalic.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-Medium.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-Regular.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-Light.woff2') format('woff2'),
        url('/fonts/LEMONMILK/LEMONMILK-RegularItalic.woff2') format('woff2');
  font-display: swap;
}
.custom-marker {
  position: relative;
  cursor: pointer;
}

.marker-tooltip {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-marker:hover .marker-tooltip {
  opacity: 1;
}

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Lexend/Lexend-Regular.woff2') format('woff2');
    font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #f3f4f6;
  color: #000000;
}

/* Responsive base font size */
html {
  /* 720p and below */
  font-size: 14px;
}

@media (min-width: 1280px) {
  /* 720p to 1080p */
  html {
    font-size: 15px;
  }
}

@media (min-width: 1920px) {
  /* 1080p base */
  html {
    font-size: 16px;
  }
}

@media (min-width: 2560px) {
  /* 2K and above */
  html {
    font-size: 18px;
  }
}
